*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
  }
  
  body{
    background-color: #001d3d;
  }

  h1{
    text-align: center;
  }
  
  .formulario{
    width: 470px;
    height: 780px;
    margin: 50px auto;
    padding: 20px;
    background-color: #003566;
    border-radius: 15px;
  
  }
  
  .formulario, label{
    color: white;
  }
  
  input{
    display: block;
    width: 100%;
    height: 25px;
    margin-bottom: 15px;
  }

  .RuaNumero{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  .number{
    margin-right: 20px;
  }
  
  button{
    display: block;
    width: 282px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: none;
    border-radius: 15px;
  
  }
  
  button:hover{
    background-color: #89c2d9;
  }

  .form-campo{
    margin-bottom: 10px;
  }

  .container{
    margin-top: 20px;
  }